.card3 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(270deg, rgba(227, 242, 253, 0.00) 0.23%, #F4F9FF 49.49%), url(./Fundo.png) lightgray 100% no-repeat;

  width: 46rem;
  height: 21.75rem;
  margin-bottom: 25px 12px;
}

.card3-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card3-title {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333;
}

.card3-text {
  font-size: 1.125rem;
  color: #555;
  font-family: var(--secondary-font);
  font-weight: 500;
  width: 20.0625rem;
}

.card3-button {
  margin-top: 7rem;
  background: linear-gradient(180deg, #B40FE7 -91.38%, #D378EF 285.34%);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  font-weight: bold;
  width: 110px;
  height: 35px;
}