@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.conte{
    padding-left: 50px;
    padding-top: 3.5rem;
    transition: padding-left 0.3s ease;
}
 
.navbar:hover ~ .conte {
    padding-left: 250px;
}


.navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 10%;
    margin: 0;
    height: 100vh;
    border-radius: 0px 50px 50px 0px;
    background: linear-gradient(176deg, #B40FE7 32.37%, #71118F 134.53%);
    transition: width 0.5s ease;
    z-index: 1000;
    font-family: "Open Sans", sans-serif;
}


.navbar-links {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.navbar-identidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navbar-identidade>img {
    width: 60px;
    margin: 20px 0 0;
    /* topo, direita, baixo, esquerda. */
}

.navbar-identidade .navbar-nome {
    display: none;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: white;
}

.navbar-links a {
    transform: translateX(-9px);
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 3vh;
    gap: 8px;
    text-decoration: none;
}

.icon {
    font-size: 35px;
}

.icon>ul>li {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 3px;
    list-style: none;
    text-decoration: none;
    row-gap: 20px;
    align-items: flex-start;
}

.navbar-links span {
    display: none;
    padding: 0;
    margin: 0;
}

.navbar:hover .navbar-identidade span {
    display: inline-block;
}

.navbar:hover .navbar-identidade .navbar-nome {
    display: inline-block;
}


/* Animações */

.navbar:hover {
    width: 18%;
}

.navbar-links a.active {
    color: #794FF1;
    font-size: 15px;
    transform: translateX(-24px);
    width: 50%;
    height: 8vh;
    padding-left: 15px;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.90);
    transition: width 0.3s ease-in-out;
}

.navbar-links a.active i {
    display: flex;
    align-items: start;
    justify-content: start;
}

.navbar:hover .navbar-links a.active {
    width: 100%;
    height: 7.5vh;
}

.navbar:hover .navbar-links span {
    display: inline;
}

.navbar-links a.active::before {
    content: "";
    position: absolute;
    width: 50px;
    left: -40px;
    align-items: center;
    height: 45px;
    background-color: rgba(217, 217, 217, 0.90);
    clip-path: circle(50% at 30% 50%);
    transform: translateX(-5px);
}