@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.conte{
    padding-left: 140px;
    padding-top: 3.5rem;
    transition: padding-left 0.3s ease;
}
 
.navbar:hover ~ .conte {
    padding-left: 250px;
}

/* Navbar principal */
.navbar {
    width: 122px;
    height: 100vh;
    border-radius: 0px 50px 50px 0px;
    background: linear-gradient(176deg, #B40FE7 32.37%, #71118F 134.53%);
    transition: width 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Expande a navbar em telas maiores */
.navbar:hover {
    width: 15%;
}

/* Identidade da navbar com ícones e título */
.navbar-identidade {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
    padding-left: 2vh;
    align-items: center;
}

.navbar-identidade span {
    display: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
}

.navbar:hover .navbar-identidade span {
    display: inline-block;
}

/* Links da navbar em formato de coluna */
.navbar-links {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-left: 47px;
    padding-top: 60px;
}

/* Estilo geral dos links da navbar */
.navbar-links a {
    transform: translateX(-9px);
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Estilo do link ativo */
.navbar-links a.active {
    color: #794FF1;
    font-size: 20px;
    transform: translateX(-24px);
    width: 61px;
    height: 55px;
    padding-left: 15px;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.90);
    transition: width 0.3s ease-in-out;
}

.navbar-links a.active i {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Expande o link ativo ao expandir a navbar */
.navbar:hover .navbar-links a.active {
    width: 177px;
    height: 55px;
}

/* Ícone de cada link */
.icon {
    font-size: 25px;
}

/* Oculta o texto dos links por padrão */
.navbar-links span {
    display: none;
    padding: 0;
    margin: 0;
}

/* Exibe o texto dos links ao expandir a navbar */
.navbar:hover .navbar-links span {
    display: inline;
}

/* Adiciona forma decorativa ao lado esquerdo dos itens ativos */
.navbar-links a.active::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.90);
    clip-path: circle(50% at 30% 50%);
    transform: translateX(-5px);
}

/* Estilo geral para links e listas */
.navbar-links a, ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}