@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.barraUser {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 3.8rem;
    border-radius: 200px 0px 0px 2000px;
    background: #F9FCF3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: flex-end;
    z-index: 0;
    position: fixed;
    top:0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.user-func,
.barraUser {
    display: flex;
    flex-direction: row;
}

.user-func {
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.img-user {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background-color: green;
}


.info {
    font-size: 10px;
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: row;
    background-color: #F4F9FF;
    border-radius: 20px;
    align-items: center;
}

.infos-user {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5px;
    color: #555555;
}

.infos-user #nome {
    font-size: 10px;
    font-weight: bold;
}

.infos-user #level {
    font-size: 8.5px;
    font-weight: bold;
}

.more-user {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    font-size: 3vh;
    color: #555555;
}

.icons {
    font-size: 2rem;
    color: #B40FE7;
}

@media (min-width: 1300px){
    .user-func{
        width: 35%;
    }
    .icons{
        display: flex;
        font-size: 3rem;
    }
    .img-user{
        width: 18%;
    }
    .infos-user #nome{
            font-size: 13px;
    }
}