.dashboard-grid {
    display: grid;
    margin-left: 10vh;
    grid-template-columns: auto auto ; /* Colunas com tamanhos ajustáveis */
    grid-template-rows: auto auto auto; /* Linhas automáticas */
    grid-template-areas:
      "header header header"
      "stats recommendation recommendation"
      "watching watching activities ";
    gap: 1.25rem; /* Espaçamento fixo de 1.25rem */
    justify-content: start;
}

.header {
    grid-area: header;
    text-align: left;
}

.stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(2, auto); /* Cada cartão ajusta seu tamanho conforme o conteúdo */
    gap: 1.25rem; /* Espaçamento fixo entre os cartões */
}

.recommendation {
    grid-area: recommendation;
}

.watching {
    grid-area: watching;
}

.activities {
    grid-area: activities;
}
