@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.tela {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.cienciasExatas,
.cienciasHumanas,
.linguagens {
    display: flex;
    flex-direction: column;
}

.materias {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.titulo {
    display: flex;
    font-size: 18px;
    margin: 40px 0 40px 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.78);
}

.icon {
    display: flex;
    flex-direction: center;
    align-items: center;
    font-size: 3rem;
}

.biologia,
.quimica,
.fisica,
.matematica,
.historia,
.geografia,
.filosofia,
.portugues,
.ingles,
.redacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 18%;
    height: 10rem;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    background: #F9FCF3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}