/* Fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


:root{
   
  /* Cores */
  --primary-color: #FE5F55;  /* Coral vibrante */
  --secondary-color: #0F6DE7;  /* Azul energetico */
  --third-color: #2A1E4E;  /* Roxo profundo */
  --room-color: #EEF5DB;  /* Verde suave pastel */
  --fifth-color: #B40FE7;  /* Roxo ousado */
  --sixth-color: #7EC8DE;  /* Azul claro suave */

  /* Fonts */
  --primary-font: "Inter", sans-serif; /* inter para titulos */
  --secondary-font: "Poppins", serif;   /* poppins para conteudo do site e plataforma */
  --third-font:"Jost", sans-serif; /* jost para nav bar e footer */

  
  color-scheme: light dark;
}


/* STYLE GLOBAL  */


html, body, #root {
  margin: 0;
  padding: 0;
  background-color: var(--room-color);
  width: 100%;
  min-height: 100vh;
  color: var(--third-color);
}


.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-Header /*header*/{ 
  width: 100%;
  height: 10%;
  box-shadow: 0px 4px 4.5px 0px #00000040;
  font-family: 'Poppins', sans-serif;
}

.main-Content{
  display: flex;
  flex: 1;
  background-color: #7EC8DE;
}

.conte /*content*/{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
  margin-left: 15vh;
  padding-top: 60px;
  transition: margin-left 0.3s ease;
  width: 85%;
  min-height: 90vh;
}

@media (max-width:992px){
  .conte{
    margin-left: 8vh;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --primary-color-Dark: #FE5F55;  /* Um tom vermelho coral para chamar atencao */
    --secondary-color-Dark: #0F6DE7;  /* Azul vivido */
    --third-color-Dark: #1B1033;  /* Azul escuro com leve tom roxo */
    --room-color-Dark: #252C34;  /* Cinza neutro escuro */
    --fifth-color-Dark: #8A0FB5;  /* Roxo profundo */
    --sixth-color-Dark: #4F92A5;  /* Azul acinzentado */
  }
}